---
import Layout from "@/layouts/Layout.astro";
import GlassHeader from "@/components/GlassHeader";
import HeroSection from "@/components/HeroSection";
import ExperienceSection from "@/components/ExperienceSection";
import SkillsSection from "@/components/SkillsSection";
import ProjectsSection from "@/components/ProjectsSection";
import EducationSection from "@/components/EducationSection";
import Footer from "@/components/Footer";
import BlogSection from "@/components/BlogSection.astro";
---

<Layout>
  <GlassHeader client:load />
  <main class="min-h-screen">
    <HeroSection client:load />
    <ExperienceSection client:load />
    <SkillsSection client:load />
    <BlogSection/>
    <ProjectsSection client:load />
    <EducationSection client:load />
  </main>
  <Footer client:load>
</Layout>
