---
import Layout from "@/layouts/Layout.astro";
import GlassHeader from "@/components/GlassHeader";
import Footer from "@/components/Footer";
import BlogPostCard from "@/components/BlogPostCard";
import MotionWrapper from "@/components/MotionWrapper";
import { getCollection } from "astro:content";

const allPosts = await getCollection("post");
---

<section id="posts" class="py-12 bg-linear-to-b from-muted/10 to-background">
  <div class="container max-w-4xl mx-auto px-6 md:px-4">
    
      <h2 class="text-2xl font-bold mb-8 text-center md:text-left">
        📖 Blog Posts
      </h2>

    <div class="grid grid-cols-3 gap-3 mb-8">
      {allPosts.map((post) => (
        <BlogPostCard post={post} />
      ))}
    </div>

  </div>
</section>